@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 400;
 src: url('NanumBarunGothic.eot');
 src: url('NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
      url('NanumBarunGothic.woff') format('woff'),
      url('NanumBarunGothic.ttf') format('truetype');
 font-style: normal;	  
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 700;
 src: url('NanumBarunGothicBold.eot');
 src: url('NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
      url('NanumBarunGothicBold.woff') format('woff'),
      url('NanumBarunGothicBold.ttf')  format('truetype');
 font-style: normal;	  
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 100;
 src: url('NanumBarunGothicUltraLight.eot');
 src: url('NanumBarunGothicUltraLight.eot?#iefix') format('embedded-opentype'),
      url('NanumBarunGothicUltraLight.woff') format('woff'),
      url('NanumBarunGothicUltraLight.ttf')  format('truetype');
 font-style: normal;
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 300;
 src: url(NanumBarunGothicLight.eot);
 src: url(NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
      url(NanumBarunGothicLight.woff) format('woff'),
      url(NanumBarunGothicLight.ttf) format('truetype');
 font-style: normal;	  
}
