@font-face {
 font-family: 'SeoulNamsan';
 font-weight: 700;
 src: url('seoulnamsanjungb.eot');
 src: url('seoulnamsanjungb.eot?#iefix') format('embedded-opentype'),
      url('seoulnamsanjungb.woff') format('woff'),
      url('seoulnamsanjungb.woff') format('woff2'),
      url('seoulnamsanjungb.ttf') format('truetype'),
	  url('seoulnamsanjungb.svg#seoulnamsanjungb') format('svg');
 font-style: normal;	  
}
@font-face {
 font-family: 'SeoulNamsan';
 font-weight: 900;
 src: url('seoulnamsanjungeb.eot');
 src: url('seoulnamsanjungeb.eot?#iefix') format('embedded-opentype'),
      url('seoulnamsanjungeb.woff') format('woff'),
      url('seoulnamsanjungeb.woff') format('woff2'),
      url('seoulnamsanjungeb.ttf') format('truetype'),
	  url('seoulnamsanjungeb.svg#seoulnamsanjungeb') format('svg');
 font-style: normal;	  
}
@font-face {
 font-family: 'SeoulNamsan';
 font-weight: 200;
 src: url('seoulnamsanjungl.eot');
 src: url('seoulnamsanjungl.eot?#iefix') format('embedded-opentype'),
      url('seoulnamsanjungl.woff') format('woff'),
      url('seoulnamsanjungl.woff') format('woff2'),
      url('seoulnamsanjungl.ttf') format('truetype'),
	  url('seoulnamsanjungl.svg#seoulnamsanjungl') format('svg');
 font-style: normal;	  
}
@font-face {
 font-family: 'SeoulNamsan';
 font-weight: 400;
 src: url('seoulnamsanjungm.eot');
 src: url('seoulnamsanjungm.eot?#iefix') format('embedded-opentype'),
      url('seoulnamsanjungm.woff') format('woff'),
      url('seoulnamsanjungm.woff') format('woff2'),
      url('seoulnamsanjungm.ttf') format('truetype'),
	  url('seoulnamsanjungm.svg#seoulnamsanjungm') format('svg');
 font-style: normal;	  
}
